@import url('https://fonts.googleapis.com/css?family=Chewy');
/*Estilos del form*/
/*body{
background-color: #b6b6b6;
}*/
section h1{
  text-align: left;
  color: #efc2c2;
}

form .input-group .btn-info{
  background: #efc2c2;
}
.btn-group {
  margin-top: 25px;
}
.btn-primary{
  background-color: #efc2c2;
  border-color: #efc2c2;
}
.btn-group: ul{
  margin-right: 25px;
}

/*Inicio estilos del buscador*/
.inputSearch .search-form{
  padding-top: 25px;
  padding-right: 15px;
}
/*Fin estilos del buscador*/

section hr{
  background: #dcdcdc;
  height: 1px;
}
.edit{
  background:#efc2c2;
  color: #fff;
  border-radius: 8px;
}
.Active{
  background:#efc2c2;
  color: #fff;
  border-radius: 8px;
}

#registrar .Active:hover{
  background: #efc2c2; /*morado*/
  color: #fff;
}
#actualizar .edit:hover{
  background: #fdc05d; /*naranja*/
  color: #fff;
}
#buttons .Active:hover{
  background: #efc2c2; /*morado*/
  color: #fff;
}
#buttons .edit:hover{
  background: #fdc05d;/*naranja*/
  color: #fff;
}
/*Fin de estilos de botones*/

section{
  font-family: Chewy;
}
.photo{
  height: 90px;
  width: 152px;
}
.select{
  padding-top: 24px;
}
.select2{
  padding-top: 12px;
}

label{
  margin-left: 16px;
}
span{
  display: block;
}

#ModInfo span{
  display: block;
}
#inputSearch{
  margin-bottom: 30px;
}
/*Fin de los estilos del form*/

#title{
  text-align: center;
  line-height: 35px;
}
#line-height{
  text-align: justify;
  line-height: 35px;
}
.copyright{
  margin-top: 50px;
  text-align: center;
}

/*Estilos generales*/
.displayNone{
    display: none;
}