<!--Inicio del menu jugador.(Pilar)-->
<div class="wrapper">
    <div class="main-panel">
    
<!--Registrar jugadores, listar v y modificar jugadores en conjunto con impresión de los datos.(Pilar)-->
<div class="container-fluid" ng-show="pagina==1">
  <div class="btn-group">
    <a class="btn btn-info" ng-click="anterior()"><i class="fa fa-user fa-fw"></i>Jugadores</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
    </a>
    <ul class="dropdown-menu"> 
      <li><a ng-click="siguiente()"><i class="fa fa-book fa-fw"></i> Ver jugadores registrados</a></li>
      <li class="divider"></li>
      <li><a href="#!/players"><i class="fa fa-pencil fa-fw"></i> Registrar jugadores</a></li>
    </ul>
  </div>

   <div class="btn-group">
      <a class="btn btn-info" ng-click="siguiente()"><i class="fa fa-handshake-o"></i>Compra de propiedades</a>
    </div>

   <div class="btn-group">
      <a class="btn btn-info" ng-click="siguiente()"><i class="fa fa-building-o"></i>Lista de propiedades</a>
    </div>

  <section id="registerPlayer">
    <h1 class="text-center">Registro de Jugador</h1>
    <hr>

    <!--Creación del formulario para registro  -->
    <form name="frmRegisterPlayer" ng-submit="vm.presave(vm)" novalidate autocomplete="off">
      <!--Inicio de los inputs para el formulario  -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <md-input-container class="col-xs-12 col-sm-4 col-md-4 select2" layout="column">
            <label for="">Código de jugador:</label>
            <input type="number" ng-model="vm.code" name="code" required>
            <div ng-messages="frmRegisterPlayer.code.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div><!--cierre del ng-messages -->
          </md-input-container>

          <md-input-container class="col-xs-12 col-sm-4 col-md-4" layout="column">
            <label for="">Nombre del Jugador:</label>
            <input type="text" ng-model="vm.namePlayer" name="namePlayer" ng-maxlength="20" required>
            <div ng-messages="frmRegisterPlayer.namePlayer.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div><!--cierre del ng-messages -->
          </md-input-container>

          <md-input-container class="col-xs-12 col-sm-4 col-md-4 select2" layout="column">
            <label for="">Primer apellido:</label>
            <input type="text" ng-model="vm.firstName" name="firstName" ng-maxlength="20" required>
            <div ng-messages="frmRegisterPlayer.firstName.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div><!--cierre del ng-messages -->
          </md-input-container>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <md-input-container class="col-xs-12 col-sm-4 col-md-4 select2" layout="column">
            <label for="">Alias:</label>
            <input type="text" ng-model="vm.alias" name="alias" required>
            <div ng-messages="frmRegisterPlayer.alias.$error">
              <div ng-messages-include="components/includes/messages.html"></div>
            </div><!--cierre del ng-messages -->
          </md-input-container>

        </div>

        <!-- Botones de Seleccione foto, Registrar y Actualizar -->
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="input-group">
            <label class="input-group-btn">
              <span class="btn btn-info">Seleccionar foto
                <input type="file" style="display: none;" ng-model="vm.photo" name="photo" id="photo">
              </span>
            </label>
          </div>

          <div id="registrar">
            <md-button class="button Active" type="submit" ng-disabled="frmRegisterPlayer.$invalid">Registrar jugador</md-button>
          </div>
          <div class="displayNone" id="actualizar">
            <md-button class="button edit" type="button" ng-disabled="frmRegisterPlayer.$invalid" ng-click="vm.update(player)">Actualizar jugador</md-button>
          </div>
      </div>
    </form>
  </section>

</div>

<div class=" col-md-12" ng-show="pagina==2">
<div class="btn-group">
    <a class="btn btn-info" ng-click="siguiente()"><i class="fa fa-user fa-fw"></i>Jugadores</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
    </a>
    <ul class="dropdown-menu"> 
      <li><a ng-click="#!/players"><i class="fa fa-book fa-fw"></i> Ver jugadores registrados</a></li>
      <li class="divider"></li>
      <li><a href="anterior()"><i class="fa fa-pencil fa-fw"></i> Registrar jugadores</a></li>
    </ul>
  </div>

   <div class="btn-group">
      <a class="btn btn-info" ng-click="siguiente()"><i class="fa fa-handshake-o"></i>Compra de propiedades</a>
    </div>

   <div class="btn-group">
      <a class="btn btn-info" ng-click="siguiente()"><i class="fa fa-building-o"></i>Lista de propiedades</a>
    </div>

<h1>Jugadores registrados</h1>
<hr>
<!--Crear buscar jugadores-->
<section class="inputSearch">
  <div class="col-sm-3 col-md-3 col-sm-offset-9 col-md-offset-9">
    <form action="" class="search-form">
      <div class="form-group has-feedback">
        <label for="Buscar" class="sr-only">Buscar</label>
        <input type="text" class="form-control" name="nameFilter" ng-model="vm.nameFilter" placeholder="Buscar...">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </form>
  </div>
</section>

    <div class="col-xs-12">
      <md-card class="container-fluid col-md-6" ng-repeat="player in vm.players
      | filter:vm.nameFilter"><!--Impresión de los datos-->
        <md-card-header>
          <md-card-header-text>
            <span class="md-subhead">Código de jugador: {{player.code}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
              <span class="md-subhead">Nombre: {{player.namePlayer}}</span>
              <span class="md-subhead">Apellido: {{player.firstName}}</span>
              <span class="md-subhead">Alias: {{player.alias}}</span>
              <span class="md-subhead">Cantidad de dinero inicial: 1.000 </span>
             <!-- <span class="md-subhead">Propiedades compradas: {{ }}</span>
              <span class="md-subhead">Cantidad de dinero actual: {{ }}</span>-->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="{{player.photo}}" alt="Description" class="photoStudent">
            </div>
          </md-card-title-media>
        </md-card-title>
        <!-- Boton para cambiar el editar las jugador -->
        <md-card-actions id="buttons" >
          <md-button class="edit" ng-click="vm.getInfo(player);vm.hideButton();registro1()">Editar</md-button>
          <md-button class="Active" ng-click="vm.active(player)">Activo</md-button>
          <md-button class="edit" ng-click="vm.inactive(player)">Inactivo</md-button>
      <md-card-icon-actions><!-- cierre botones  -->
    </div>
  </div>
  <section class="copyright">
    <div class="col-md-12">
      <div class="copyright">
        <!-- COPYRIGHT TEXT -->
        <p>©Pgranados - All rights reserved 2017.</p>
      </div>
    </div>
  </section>
</div>
